.Card {
  width: 12vw;
  height: 23vh;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    
    justify-content: space-between;
    padding: 10px;
   
    font-family: "Arial", sans-serif;
    border: 2px solid black;
    position: relative;
  }
  
  .box_card_img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 cartes par ligne */
     position: relative;
     top:12%;
  }
  
  .box_card_img_2{

    display: grid;
    grid-template-columns: repeat(1, 1fr);  /* 3 cartes par ligne */
     position: relative;
     left: 37%;
     top: 16%;

  }


  .box_card_img_3{

            display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        top: 17%;
        left: 10%;
        width: 100%;

  }
  
  .box_card_img_4{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        top: 19%;
        left: 10%;
        width: 100%;
  

  }


  .box_card_img_10{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 12%;
    
    width: 100%;


}


  .div_img_card {
    width: 32%; /* Ajuster la taille des images */
    height: 100%s;
  }
  
  .img_card {
    width: 73%;
    height: auto;
  }
  
  .top-left,
  .bottom-right {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
  }
  
  .top-left {
    top: 5px;
    left: 5px;
  }
  
  .bottom-right {
    bottom: 5px;
    right: 5px;
    left: 86%;
  
  }

  .One_image_card{

    position: relative;
    top: 29%;
    left: 27%

  }

  .img_icone_top{

    width: 9%;

  }


  .img_icone_bottom{

    width: 1vw;

  }
  
  .img_card_figure{

    width: 51%;

  }